<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Padauk&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/62024b9843.js"></script>
    <title>Creed-Community</title>
</head>
<body>
<section class="header1">
    <nav>
        <a href="index.html"><img src="{% static '/images/logo.png' %}" alt=""></a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()" id="cross"></i>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="{% url 'joinus' %}">Join Us</a></li>
               <li><a href="{% url 'about_us' %}">About</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()" id="menu"></i>
    </nav>
    <div class="join-us">
        <h2>Wanna be a part of our family</h2>
        <p id="first">Choose any group according to your preferences from the list below</p>
    </div>
    <div class="links">
        <table>
            <hr>
            <tr>
                <th>Group Name</th>
                <th>Category</th>
                <th>Join Now</th>
                <th>Total Members</th>
            </tr>
            {% for group in groups %}
            <tr>
                <td>{{group.group_name}}</td>
                <td class="w">{{group.category}}</td>
                <td><a href={{group.link}} target="_blank">
                    <button class="button">Join</button>
                </a></td>
                <td>{{group.total_members}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
<script>
    var navLinks = document.getElementById("navLinks");
    function showMenu(){
        navLinks.style.right = "0";
    }
    function hideMenu(){
        navLinks.style.right = "-200px";
    }




</script>
</body>
</html>
